################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sqlite
/.vs
/Airlock Doors/AirlockDoors/.vs/AirlockDoors/v15
/Airlock Doors/AirlockDoors/bin
/Airlock Doors/AirlockDoors/obj/x64/Debug
*.cache
